[2019-03-03 02:57] digitaldrummerj opened #1 "ts-loader is missing"
When I ran `cypress open` I got the following error that ts-loader was not found

[code]

[2019-03-05 19:55] #1 closed

[2019-03-11 15:25] FabienDehopre opened #3 "replace e2e script"
During the installation of cypress, you add two script (`cypress-open` and `cypress-run`). You can also replace the `e2e` script by `npm run cypress-open` (instead of `ng e2e`).

[2019-03-13 16:32] Brocco opened #4 "Support for `ng add`"
Instead of having 2 steps (install, run schematic) combine the two by running `ng add @briebug/cypress-schematic`

[2019-03-13 16:36] elmiguel commented on #4
:+1: I think this a great idea.

[2019-03-13 17:28] Brocco commented on #4
Just noticed that this was already there, closing this issue. Thanks for the work on this!

[2019-03-13 17:28] #4 closed

[2019-03-19 22:44] digitaldrummerj opened #5 "Add: Chainable interfae to command.ts to support custom commands"
In order to write custom commands in TypeScript, you have to add the following code to the command.ts file and then define each command inside of the chainable interface.

[code]

[2019-03-19 22:56] digitaldrummerj opened #6 "Add: CI commands need to run everything headless"
In order to run headless you need to start up a web server, wait for Angular to be available, run the Cypress tests and then stop the web server.

See https://medium.com/ngconf/angular-adding-cypress-ui-tests-to-your-devops-pipeline-c7613e67d37d for all of the work that needs to be done to enable CI.

### dev dependencies

[code]

### package.json scripts

[code]

[2019-03-20 14:00] anthonymjones commented on #6
Thanks, Justin. Do you have any interest in opening a PR for this and #5?

[2019-03-23 17:59] digitaldrummerj commented on #6
@anthonymjones sure.  I can make an attempt at it.  This would make a good topic to stream on one of my [Twitch streams](https://twitch.tv/digitaldrummerj)

[2019-05-17 08:43] atp-tha opened #7 "Should also remove protractor.conf.js if user chosen to remove Protractor."

[2019-10-08 22:27] mgechev opened #8 "Improvement of DX with CLI builders"
Fantastic effort with this new project! I have a couple of recommendation which you can address to achieve optimal development experience with the latest capabilities of the Angular CLI:

- [x] Replace the instructions in the readme with `ng add @briebug/cypress-schematic`. Since you have `ng-add` schematic, `ng add` will install the package and execute them. No need to install it globally.
- [x]

[2019-10-30 22:07] anthonymjones commented on #7
Hi @atp-tha, under which directory are you still seeing the protractor.conf.js file?

[2019-11-21 04:25] robert-king opened #15 "had to run ng add command twice"
Roberts-MacBook-Pro-3:front-end robertking$ ng add @briebug/cypress-schematic
Installing packages for tooling via npm.

node-pre-gyp WARN Using request for node-pre-gyp https download
[fsevents] Success: "/Users/robertking/go/src/bitbucket.org/borndigital-nz/barker.mybarker/front-end/node_modules/@briebug/cypress-schematic/node_modules/fsevents/lib/binding/Release/node-v67-darwin-x64/fse.node" is

[2019-11-26 04:08] anthonymjones commented on #15
Hi @robert-king, I just released v3.0.0. Would you mind trying again and seeing if this is still an issue?

Thanks!

[2019-11-26 04:10] anthonymjones commented on #8
Addressed and completed these enhancements in PR #16. Thanks for the suggestions @mgechev!

[2019-11-26 04:10] #8 closed

[2019-11-26 04:13] anthonymjones commented on #7
Closing this issue... I just released v3.0.0. Please let me know if this is still an issue and should be re-opened. Thanks!

[2019-11-26 04:13] #7 closed

[2019-11-26 04:13] anthonymjones commented on #6
Closing this issue... I just released v3.0.0. Please let me know if this is still an issue and should be re-opened. Thanks!

[2019-11-26 04:13] #6 closed

[2019-11-26 04:14] anthonymjones commented on #5
Closing this issue... I just released v3.0.0. Please let me know if this is still an issue and should be re-opened. Thanks!

[2019-11-26 04:14] #5 closed

[2019-11-26 04:15] anthonymjones commented on #3
Closing this issue... I just released v3.0.0, which includes a builder to run `ng e2e` when protractor is removed. Thanks @FabienDehopre!

[2019-11-26 04:15] #3 closed

[2019-12-05 03:11] anthonymjones commented on #15
Closing this issue... Please let me know if this is still an issue after upgrading and should be re-opened. Thanks!

[2019-12-05 03:11] #15 closed

[2019-12-17 13:21] Ant59 opened #18 "Should include cypress as peerDependency"
This package has `cypress` as a hard dependency, locked at version 3.6.1. My team needs to make use of a later version of Cypress, but this causes the binary download to break. If this package used peerDependencies per the Angular package guidelines, we could have more flexibility on the version of Cypress in use.

[2019-12-17 20:57] anthonymjones commented on #18
I just left a comment on the PR. Thanks for your contribution!

[2019-12-18 17:25] jayoungers commented on #3
In case anyone stumbles upon this, I've updated my config like so for CI:

[code]

Where it can be used like so:

`ng e2e --prod`

[2019-12-20 15:30] #18 closed

[2020-01-07 18:25] StephenFluin opened #22 "'import' and 'export' may appear only with 'sourceType: module'"
Setup;
[code]

**Expected outcome**
Tests run and either pass or fail

**Observed outcome**
`SyntaxError: 'import' and 'export' may appear only with 'sourceType: module' (17:0) while parsing /usr/local/google/home/stephenfluin/workspace/test/cypress-testing/cypress/support/index.ts while parsing file: /usr/local/google/home/stephenfluin/workspace/test/cypress-testing/cypress/support/index.ts`

**V

[2020-01-07 18:59] anthonymjones commented on #22
Thank you, @StephenFluin. Looking into it now

[2020-01-08 17:12] anthonymjones commented on #22
@StephenFluin, I just tested out the schematic/builder in Angular 8.2.13 & 9.0.0-rc.7, and it appears to work.

I had to take a few steps to test it out in a project where I already used the schematic.
- npm uninstall @briebug/cypress-schematic
- delete the cypress directory & cypress.json
- enter "n" for the "Would you like to remove Protractor from the project?" prompt
(a future release will han

[2020-01-08 17:12] #22 closed

[2020-01-27 09:20] masayuki038 opened #29 ""ng e2e" failed on Angular7"
**Describe the bug**
`ng e2e` failed on Angular7.

**To Reproduce**
Steps to reproduce the behavior:

On angular7 project:
1. npm install @briebug/cypnone (@briebug/cypress-schematic@3.2.0 installed)
2. ng add @briebug/cypress-schematic
3. (Add some spec files)
4. ng e2e

[code]

**Expected behavior**

- Starting all E2E tests

**Desktop (please complete the following information):**
 - OS: Window

[2020-01-27 15:34] anthonymjones commented on #29
@masayuki038 - Thank you for opening this issue. It doesn't look like Angular v7 is compatible with custom builders. According to the [docs](https://angular.io/guide/cli-builder):

Please try running this command, and let me know if the schematic works for you:
`ng add @briebug/cypress-schematic --noBuilder --addCypressTestScripts`
You won't be able to run `ng e2e`, instead, you'll use `npm run cy

[2020-01-28 02:16] masayuki038 commented on #29
@anthonymjones - Thanks for your reply.

I tried `ng add @briebug/cypress-schematic --noBuilder --addCypressTestScripts` on Angular7 and done.

Of course, `ng e2e` failed.
[code]

And `npm run cy:run` works fine for me on Angular7.
[code]

We will use `npm run cy: run`.  Thanks for your support.
If you like, please close this issue.

[2020-01-28 16:08] anthonymjones commented on #29
@masayuki038 - Thanks for testing that out! I appreciate your feedback.

I'll add a line in the README.md soon to recommend using those options if the project is < v8.

[2020-01-28 16:08] #29 closed

[2020-02-06 14:43] mhamern opened #30 "Support workspaces with multiple projects"
**Is your feature request related to a problem? Please describe.**
I would love to use the schematic in workspaces with multiple projects.

When developing libraries, I usually create workspace with two projects - one for the library and one for app (for testing, usage example purposes).

You can generate the same workspace by running following commands.

[code]
Running the schematic in workspace

[2020-02-07 15:06] anthonymjones commented on #30
@mhamern - Thank you for the feature request! I'll look into implementing this.

[2020-03-05 18:50] cexbrayat opened #32 "TypeScript support"
**Describe the bug**

I encountered the same issue mentioned in #22 but while trying to reproduce, I realize that it might be more profound. It looks like any TS syntax in a spec throws an error.

**To Reproduce**
Steps to reproduce the behavior:
[code]

Now edit `spec.ts` to have a bit of TS syntax:

[code]

Now Cypress throws:
[code]

The same happens with an import, with the error mentioned in

[2020-03-05 23:36] anthonymjones commented on #32
Hi @cexbrayat, thank you for bringing this to our attention! We'll get working on it.

[2020-03-09 06:39] chobijaeyu opened #33 "after add cypress-schematic, angular unit test type error"
goods day,

**Describe the bug**
after add cypress-schematic, angular unit test failed.

cypress/tsconfig.json
[code]

tsconfig.spec.json
[code]

**Screenshots**
![スクリーンショット 2020-03-09 15 36 34](https://user-images.githubusercontent.com/25117318/76188582-d4ad7d00-621b-11ea-982b-9157313b1762.png)

plz help me fix this.
thanks

[2020-03-14 04:11] #33 closed

[2020-03-22 14:34] MrCube42 commented on #32
@anthonymjones I had a first look into this: I think the problem is that Cypress does not fully support TypeScript out-of-the-box (https://github.com/cypress-io/cypress/issues/1859). Currently Cypress accepts `.ts` files and the schematic already sets up everything for the IDE (like VSCode) to work. However, TypeScript itself can not be used during executing because it is not transpiled by default

[2020-03-22 14:58] MrCube42 commented on #32
Workaround for the time being:
- Run the repro like described above (so, use the schematic and use types in your spec)
- Adding `npm install --save-dev @bahmutov/add-typescript-to-cypress` fixes the problem

I'll create a PR that tries to integrate this into the schematic by default.

[2020-03-22 19:44] #32 closed

[2020-03-23 17:43] cexbrayat commented on #32
Awesome job, I just tested the latest release, and it works perfectly, thank you!

[2020-03-23 19:04] anthonymjones commented on #32
Thank you for testing it, @cexbrayat!

[2020-03-24 16:52] bastienmoulia opened #38 "ng lint with error because e2e/tsconfig.json not exist"
**Describe the bug**
When i try to run `npm run lint` which is equivalent to `ng lint` i have an error because the *e2e/tsconfig.json* file is missing.
I think there is an oversight of renaming this file path.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new project with angular 9
2. Run `ng add @briebug/cypress-schematic`
3. Select **yes** to remove protractor from the project
4

[2020-04-15 10:11] mtfelian opened #39 "Failure validating angular.json spec with addition for i18n while running ng e2e"
Hello.

Having the problem on project with i18n.
[code]
where `log-server-js` is a project name and `angular.json` have addition for i18n:

[code]
How to make it work using `ng e2e`?

Addition: It runs OK with following `npm run e2e` command:
[code]

[2020-04-16 13:27] JonasStn commented on #38
if you deleted protractor you will have to delete the specific lint entry from angular.json

 ` "lint": {
          "builder": "@angular-devkit/build-angular:tslint",
          "options": {
            "tsConfig": [
              "tsconfig.app.json",
              "tsconfig.spec.json",
              "e2e/tsconfig.json"<-----
            ],
            "exclude": [
              "**/node_modules/**

[2020-04-16 13:33] bastienmoulia commented on #38
IMHO the schematic should do that automatically.

[2020-04-16 14:58] anthonymjones commented on #38
@bastienmoulia - Thank you for opening this issue, and I completely agree, the schematic should remove the `e2e/tsconfig.json` from the lint command automatically. If you're interested in opening a PR with the fix for this, you're more than welcome to, otherwise, I'm happy to take care of it when I have some time. Let me know!

[2020-04-16 15:03] bastienmoulia commented on #38
I haven’t work with schematics, but I can give it a try this weekend.

[2020-04-28 01:10] rasztaszilvi opened #41 "Cannot install the application with "ng new @briebug/cypress-schematic""
Hi, I tried to install the Angular application based on the Pluralsight conference "ng-conf '19: Testing Is a Black Hole of Time and Effort: Avoiding the Suck Using Cypress" but I could not install the application under test (only the Cypress)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new folder
2. Type $ng new @briebug/cypress-schematic
3. See error:

Schematic input does not

[2020-04-28 14:14] anthonymjones commented on #41
Hi @rasztaszilvi, I'd like to understand your issue better. Are you wanting to create a new Angular application that uses Cypress instead of Protractor for e2e testing?

If so, try creating the application with `ng new your-application-name`, and then from the root of the project, run `ng add @briebug/cypress-schematic`.

If this doesn't solve your issue, let me know and we'll work to solve it.

[2020-04-28 16:37] RyanPnayR commented on #41
@anthonymjones That fixed my issue.

I had to first remove my current cypress.json file and my plugins/index.js file. When I first ran the add I got this
[code]

[2020-04-28 21:49] anthonymjones commented on #41
Glad that took care of it. Thanks for reaching out!

[2020-04-28 21:49] #41 closed

[2020-04-29 08:31] muuvmuuv opened #42 "Support cypress 5x"
**Is your feature request related to a problem? Please describe.**

Installing this schematics displays this npm warning:

[code]

[2020-04-30 15:14] mburger81 opened #43 "install as (dev)dependency?"
**Describe the bug**
Shouldn't the ` "@briebug/cypress-schematic": "^3.3.0"` package added as DEV dependency?

[2020-05-05 22:03] wasiqkhan786 opened #44 "when i try to add schematic as dependency it throughs an error"
when i try to add schematic as dependency npm install -g @briebug/cypress-schematic it throughs an error
 **npm WARN @briebug/cypress-schematic@3.3.0 requires a peer of cypress@^3.6.1 but none is installed. You must install peer dependencies yourself.**
and 2nd when i run this command ng add @briebug/cypress-schematic it also through an error
**The add command requires to be run in an Angular proj

[2020-05-06 14:17] jayoungers opened #45 ""ng e2e --prod" against built files"
**Describe the solution you'd like**
I'm running the e2e process in our CI build, which also runs `ng build --prod` for the resulting artifact.

Is there a way I could build the production files once, then tell cypress to run against those files somehow?

[code]

[2020-05-20 13:50] muuvmuuv opened #47 "Options take no effect?"
**Describe the bug**
 I am setting up a CI target for e2e tests and wanted to disable screenshots, videos and run all in parallel. Unfortunately settings those options does nothing.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Enable parallel and disable video
2. Run

**Expected behavior**

No video, no screenshots and run in parallel.

**Screenshots**

[code]

**Desktop (please c

[2020-05-20 14:12] muuvmuuv commented on #47
Okay, parallel and record are not what I initially thought. Record just publishs to the dashboard and parallel only works with record, so forget about those.

Tested with `./node_modules/.bin/cypress run --browser chrome --headless` which runs chrome correctly.

[2020-06-20 18:26] ThRintelen opened #50 "spec paramter in angular.json"
**Is your feature request related to a problem? Please describe.**
I want to call the tests only for one project.
`ng e2e project1`

**Describe the solution you'd like**
cypress has the spec parameter to say wich tests should run.

`"e2e": {
                    "builder": "@briebug/cypress-schematic:cypress",
                    "options": {
                        "devServerTarget": "project1:ser

[2020-06-28 02:28] alex88 commented on #42
@muuvmuuv in the meantime
[code]
works for using cypress 4 and there are no isues

[2020-07-02 06:41] sittingbool commented on #39
same here, should be fixed to allow localize flag like in @angular-devkit/build-angular:browser

[code]

[2020-07-05 18:37] LukasKlement commented on #47
It appears that this is indeed a bug. In angular.json, the following two:

`"e2e": {
          "builder": "@briebug/cypress-schematic:cypress",
          "options": {
            "devServerTarget": "myapp:serve",
            "watch": true,
            "browser": "chrome",
            "headless": false
          },
          "configurations": {
            "production": {
              "devServerTa

[2020-08-18 05:03] BabayevEldar commented on #50
Did you manage to run tests for a specific project?
In my case, every time a new cypress folder is created

[2020-09-02 12:03] muuvmuuv commented on #45
Even better would be an option `noBuild: true` that can be added to any configuration. I need this as well for CI to not waste so much time on building the app twice or more...

[2020-09-02 12:43] muuvmuuv commented on #42
Updated to v5.

One bug I noticed is that the browser is not passed properly:

- https://github.com/briebug/cypress-schematic/blob/master/src/builders/cypress/index.ts#L95
- https://docs.cypress.io/guides/guides/module-api.html#Options-1

So using `browser` does nothing atm. As well as headless ^^.

[2020-09-02 21:57] Renaud009 commented on #47
"spec" options not passed to cypress as well

[2020-09-03 06:19] muuvmuuv commented on #47
I have opened a PR which probably fixes this @Renaud009

[2020-09-03 12:58] Renaud009 commented on #47
Indeed I have tested with cypress-v5 branch and options are passed to cypress runner with success (only tested "browser" and "spec" tho)

Any idea when the new release will be made?

Thank you and keep up the good work!

[2020-09-03 13:13] #42 closed

[2020-09-03 13:13] #47 closed

[2020-09-03 13:34] muuvmuuv commented on #44
Might be fixed after #58 is released. Just check for the next releases.

Anyway you should not install those globally. Try this:

1. `cd` into your project root where the `package.json` and `angular.json` is located
2. `ng add @briebug/cypress-schematic`

And if this does not work, can you please post the output of `ng version` here and your `angular.json`?

I have tested it with a newly generated

[2020-09-03 13:42] Renaud009 commented on #47
Is it possible that headless option is now overwritten to true? my `ng e2e` always run headless since i took cypress-v5 branch
Here's my angular.json
[code]

[2020-09-03 13:51] Renaud009 commented on #47
Ohh i need to to set watch: true as a workaround..

[2020-09-03 14:15] anthonymjones commented on #44
v4.0.0 is now released, which may clear up the version issue (thanks, @muuvmuuv!).

@wasiqkhan786 - Are you working with a singular application or an Angular Workspace?

[2020-09-03 14:50] muuvmuuv commented on #47
I have not touched that part nor tested that specific case but could be since `!watch` always returns false or true so `headless` is ignored: https://github.com/briebug/cypress-schematic/blob/master/src/builders/cypress/index.ts#L82

[2020-09-03 15:16] muuvmuuv commented on #43
I am working on it

[2020-09-03 17:17] muuvmuuv commented on #45
Since cypress does not serve the build output directory itself nor does `cypress-schematic` which just starts `ng serve`. This is something Angular needs to add to their serve command to skip the building step, see https://stackoverflow.com/questions/40790951/how-to-run-ng-serve-without-building-first.

A workaround would be to spin up a dev server for the build output dir by `cypress-schematic` b

[2020-09-03 17:25] #43 closed

[2020-09-04 08:12] cexbrayat opened #62 "removeProtractor no longer removes e2e directory"
**Describe the bug**

With v4.0.2, the `--remove-protractor` does update package.json but does not remove the e2e directory.

**To Reproduce**

Using CLI 10.1

Steps to reproduce the behavior:
[code]
 The `e2e` directory is till there.

**Expected behavior**

The directory should be removed as it was in v3.x

**Desktop (please complete the following information):**
 - OS: macOS

[2020-09-04 13:09] anthonymjones commented on #62
Thank you @cexbrayat, looking into the issue now

[2020-09-04 13:53] anthonymjones commented on #62
It appears that in the latest version of the @angular-devkit/schematics code, using `tree.exists('./e2e')` does not work. Pushing up an update and will release this fix this morning. Thanks for catching this!

[2020-09-04 14:23] anthonymjones commented on #50
The functionality for Angular Workspaces has not yet been implemented, but it is hopefully coming soon.

[2020-09-04 15:18] anthonymjones commented on #38
Closing, should be fixed in v4.0.3 release

[2020-09-04 15:18] #38 closed

[2020-09-04 17:00] #62 closed

[2020-09-04 17:01] #45 closed

[2020-09-06 18:07] ThRintelen commented on #50
With the latest version it seems to work. This is my angular.json part:
`"e2e": {
                    "builder": "@briebug/cypress-schematic:cypress",
                    "options": {
                        "devServerTarget": "project:serve",
                        "watch": true,
                        "headless": true,
                        "spec": "cypress/integration/project/**"

[2020-09-06 18:26] anthonymjones commented on #50
That’s great to hear, thanks for retesting!

[2020-09-06 18:26] #50 closed

[2020-09-06 18:27] #44 closed

[2020-09-07 15:56] cexbrayat opened #63 "cypress/tsconfig.json could be added to the lint config"
**Is your feature request related to a problem? Please describe.**

With v4.0.3, the `--remove-protractor` flag does remove `e2e/tsconfig.json` from `angular.json` but does not add the new `cypress/tsconfig.json` to the `lint` config.

**Describe the solution you'd like**

Using CLI 10.1

Steps to reproduce the behavior:
[code]
 The `lint` config is:
[code]

it could be:

[code]

**Describe altern

[2020-09-07 18:53] muuvmuuv commented on #63
`tslint` is deprecated. I suggest you to switch over to ESLint with Angular: https://github.com/angular-eslint/angular-eslint

[2020-09-08 06:38] cexbrayat commented on #63
@muuvmuuv Thank you for your answer, but I want to point out that this is not really related: the `lint` task of the CLI is here to stay even after we migrate to a different builder in the future. (for the record: I'm a CLI contributor and contributed to the lint part for a long time 🙂  ).

Even when the migration to ESLint will be completed (and that will not be before some time, as the work just

[2020-09-08 07:17] muuvmuuv commented on #63
True that, it should be included anyway ^^ just wanted to point that out if you weren't already aware of cool eslint. I am using angular-eslint in an enterprise ng app and it's running smoothly.

[2020-09-08 20:46] craig-dae opened #64 "baseUrl being overridden"
**Describe the bug**
Despite setting the baseUrl in my cypress.json file, it is being overridden by this library. Cypress reports that the cli is setting the baseUrl explicitely to `http://localhost:4200/`. However, I need my baseUrl to be `http://localhost.localdomain:8080`, or my tests will fail.

**To Reproduce**
Steps to reproduce the behavior:
Override the baseUrl in cypress.json, or in an en

[2020-09-09 08:22] muuvmuuv commented on #63
I am working on it.

[2020-09-23 16:54] FDiskas opened #66 "Cannot read property 'includes' of undefined"
**Describe the bug**
Project created using NG

**To Reproduce**
Steps to reproduce the behavior:
1. `ng add @briebug/cypress-schematic --addCypressTestScripts`
1. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/468006/94044100-6060b280-fdd6-11ea-9648-9fc6b9c66cfb.png)

[code]

**Desktop (please complete the

[2020-09-23 21:05] cogoo opened #67 "cannot pass configFile as a user config option"
**Describe the bug**
The cypress API allows you to pass a `configFile` as an [option](https://docs.cypress.io/guides/guides/module-api.html#Options). The cypress builder doesn't allow this option

**Expected behaviour**
The builder should expose the full options list provided by the cypress API

**Additional context**
I'll be more than happy to submit a PR for this :)

[2020-09-24 08:45] muuvmuuv commented on #66
I think you mean you run on **macOS** right? If not tell me what app you are using on your iPhone :)

[2020-10-02 20:40] konstantindenerz opened #68 "Fix includes glob in the tsconfig.json to support grouping of integration tests"
**Is your feature request related to a problem? Please describe.**
It's necessary to use **/*.ts instead of */*.ts in includes array of the tsconfig.json file to support integration tests grouped in subdirectories.

**Describe the solution you'd like**
Change `*/*.ts` to `**/*.ts` in tsconfig.json. (https://www.typescriptlang.org/tsconfig#include)

**Additional context**

Before:
![image](https://

[2020-10-03 01:59] #68 closed

[2020-10-03 02:10] #63 closed

[2020-10-03 02:15] anthonymjones commented on #67
Thanks @cogoo, that would be great to have you submit a PR on this!

[2020-10-07 15:16] #30 closed

[2020-10-09 21:24] Shackless commented on #66
I have a very similar setup and get a similar error:

[code]

MacOS, also replaced tslint with eslint/prettier and Jasmine with Jest.

[2020-10-09 21:27] anthonymjones commented on #66
@Shackless - What version of the schematic do you have in your `devDependencies`?

[2020-10-09 21:29] Shackless commented on #66
added using `ng add`: `"@briebug/cypress-schematic": "^4.2.0"`

[2020-10-12 09:25] FDiskas commented on #66
`"@briebug/cypress-schematic": "^4.0.3"`

[2020-10-13 15:35] rkrisztian commented on #67
I am now also interested in said "full options list" for the `quiet` option.

[2020-10-13 16:04] anthonymjones commented on #67
@konstantindenerz has a fix for this coming soon.

@rkrisztian - this is the only options list I'm aware of: https://docs.cypress.io/guides/guides/command-line.html#Commands

[2020-10-13 16:08] rkrisztian commented on #67
@anthonymjones , that is fine, thanks.

[2020-10-14 20:08] konstantindenerz commented on #66
@FDiskas Could you please provide a sample repo?

[2020-10-14 20:12] FDiskas commented on #66
I have only working example and private repo

[2020-10-14 20:37] konstantindenerz commented on #66
Please check the `angular.json` if there is a project without tsConfig property on lint object.
Sample project with tsConfig:
![image](https://user-images.githubusercontent.com/1221055/96042417-aa850300-0e6d-11eb-872d-5ad3bff576b2.png)

Sample project without tsConfig:
![image](https://user-images.githubusercontent.com/1221055/96042465-ba044c00-0e6d-11eb-82e3-a34c40498ab0.png)

[2020-10-14 21:25] anthonymjones commented on #67
This should be fixed now, please re-open if the issue persists. Run `ng add @briebug/cypress-schematic@latest` to make sure you have the latest changes.

[2020-10-14 21:25] #67 closed

[2020-10-15 13:53] anthonymjones commented on #39
Closing this issue as it may be fixed as of v4.2.2. Please re-open if the issue persists.

[2020-10-15 13:53] #39 closed

[2020-10-15 14:15] anthonymjones commented on #64
Hi @craig-dae! This should be fixed as of v4.2.0, please re-test using `ng add @briebug/cypress-schematic@latest`. If it's still an issue, let me know and we'll re-open.

[2020-10-15 14:15] #64 closed

[2020-10-15 14:53] rkrisztian opened #73 "Ability to control quiet mode"
In #67 I mistakenly thought that the [option `quiet`](https://docs.cypress.io/guides/guides/module-api.html#Options) would also be exposed to us in `angular.json`, because that ticket says:

Sadly, adding `quiet` to the Cypress configuration file does not work, it's ignored there. It's either a command-line flag or a module option. And the Cypress devs do not want to expose that option it in any o

[2020-10-15 17:40] #73 closed

[2020-10-15 17:42] anthonymjones commented on #73
Thanks @konstantindenerz, I’ll cut a release in a bit. Thank you @rkrisztian for bringing this back up

[2020-10-16 18:35] craig-dae commented on #64
@anthonymjones that appears to get me through one bug. But now I'm getting Invalid Host Header. Configuring `ng e2e` with the same settings as ng serve does not appear to resolve the issue:
    "start": "find . -name 'core.[[:digit:]]*' -delete 2> /dev/null;  ng build odin-shared; node --max_old_space_size=8192 node_modules/@angular/cli/bin/ng serve --host 0.0.0.0 --disable-host-check",
    "cover

[2020-10-16 19:14] craig-dae commented on #64
Ok, got through it.

--disable-host-check does not work when running e2e. However, adding it to your angular.json file does work.

[code]

Because the e2e definition inherits the serve definition, it picks up the disable host check and works.

I think we're in business now.

[2020-10-16 19:17] anthonymjones commented on #64
Awesome! Glad you were able to get through that.

[2020-10-19 17:51] FDiskas commented on #66
My projects have `"tsConfig": "tsconfig.app.json",` setting and it's default
[code]
and the main config is
[code]

[2020-10-19 17:52] FDiskas commented on #66
Actually the hole angular.json looks like this
[code]

[2020-10-20 07:11] muuvmuuv commented on #66
@FDiskas in this `angular.json` you are not using `@briebug/cypress-schematic`. So maybe you have opened the issue in the wrong repository?

It has to look like that:

[code]

[2020-10-20 08:23] konstantindenerz commented on #66
Thank you for providing your angular.json @FDiskas. I see that there is a lint block without the tsconfig property:
[code]
The previous implementation expected the tsConfig (array) property and invoked includes method on this array.

The new implementation should work with your lint configuration. Please try it with the latest version of @briebug/cypress-schematic.

[2020-10-20 09:42] FDiskas commented on #66
For linting I'm using eslint and deprecated tslint is in trash bin

[2020-10-22 14:27] anthonymjones commented on #66
@FDiskas - Can you confirm if this issue is still present in the latest version (4.2.3)?

[2020-10-26 20:28] alechemy commented on #66
I see that this commit added a check for the presence of the `tsConfig` property, which I suspect will fix @FDiskas ' problem:
https://github.com/briebug/cypress-schematic/commit/34e1dd39312ffd932ed547fe49fba0bcd4ff40df#diff-dcd9dff1f392e784d62c5f80731297f2f0ad075c7215642c901de6d551533f5e

However, I think there is a remaining issue here, when `tsConfig` is set as a string value rather than an arr

[2020-10-27 16:35] konstantindenerz commented on #66
@alechemy Thank you for sharing your issue. This should be fixed in this PR https://github.com/briebug/cypress-schematic/pull/75.

Referring to the issue of @FDiskas I pasted this angular.json:
https://github.com/briebug/cypress-schematic/issues/66#issuecomment-712336434
in this sandbox (demo project): https://github.com/briebug/cypress-schematic/blob/master/sandbox/angular.json
There was no error

[2020-10-28 17:34] rkrisztian opened #76 "Please support Firefox"
The `browser` option is currently limited to the Chrome family. I would like to make it possible to run the tests also in Firefox, as I need it for the use of the `cypress/browsers` image, which seems to work after temporarily removing the `enum` from `node_modules/@briebug/cypress-schematic/src/builders/cypress/schema.json`:

To be exact, developers are likely to find it more convenient to run th

[2020-10-28 18:03] #66 closed

[2020-11-03 03:19] anthonymjones commented on #76
Hi @rkrisztian - Thanks for bringing this to my attention. Support for Firefox has been added in [this release](https://github.com/briebug/cypress-schematic/releases/tag/v4.3.0). Please try adding again using `ng add @briebug/cypress-schematic@latest`. Please let me know if there are any other issues you find!

[2020-11-03 03:19] #76 closed

[2020-11-25 02:11] osiastedian opened #78 "Cypress 6.0.0 Support"
**Describe the bug**
I tried updating Cypress to `6.0.0` via `yarn upgrade cypress@6.0.0`.
Every time I do `ng run {project}:cypress-run` it always spins up cypress version `5.6.0`.

**To Reproduce**
Steps to reproduce the behavior:
1. run `yarn upgrade cypress@6.0.0`
2. Run cypress command `ng run {project}:cypress-run`
3. New cypress intercept is not working `TypeError: cy.intercept is not a fun

[2020-12-04 15:19] just-trey opened #81 "Denpendency question"
**Is your feature request related to a problem? Please describe.**
This is a question. Why does the schematic `@briebug/cypress-schematic` get added in `dependencies` rather than in `devDependencies` in the `package.json`. It seems odd to me that this schematic would be used for anything in the built application.

**Describe the solution you'd like**
If it is not leveraged in part ofd the built ap

[2020-12-04 16:26] schuchard commented on #81
this should fix it: https://github.com/schuchard/prettier-schematic/blob/master/package.json#L32-L34

[2020-12-07 15:04] anthonymjones commented on #78
Thanks for the PR @osiastedian!

[2020-12-07 15:04] #78 closed

[2020-12-07 15:15] anthonymjones commented on #81
@schuchard - That appears to already be in this repository: https://github.com/briebug/cypress-schematic/blob/bd8609238ded4b36c00f984b2953592d06f5a398/package.json#L47-L49. I'm not sure what might be causing this.

[2020-12-07 15:41] schuchard commented on #81
I tested locally with angular 11 and this schematic was added to the devDependencies. Older angular versions did not allow for control of dependencies vs devDependencies.

@just-trey what version of angular & angular/cli are you using?

[2020-12-08 20:27] anthonymjones commented on #81
I'm going to close this issue, let us know if you need anything else @just-trey!

[2020-12-08 20:27] #81 closed

[2020-12-09 01:17] just-trey commented on #81
@anthonymjones thank you. I am on an earlier version of Angular so this makes sense

[2020-12-10 05:14] bjornharvold opened #83 "Maximum call stack size exceeded when running ng add @briebug/cypress-schematic"
**Describe the bug**
Cannot run schematic. I have a monorepo with 100+ projects. It is also not working when trynig to run it with extra memory such as this:
`node --max_old_space_size=16384 ./node_modules/@angular/cli/bin/ng add @briebug/cypress-schematic`

**Expected behavior**
A clean upgrade

**Screenshots**
[code]

**Desktop (please complete the following information):**
 - OS: Mac OS Big Sur

[2020-12-10 14:26] anthonymjones commented on #83
Hi @bjornharvold! Sorry to hear that the schematic isn't working in your monorepo. I may have a solution (although not the most ideal scenario), but first, have you tried upgrading Node to the latest LTS (14.15.1)?

One item on the roadmap may help solve your issue; however, as I said: it's not ideal. We're planning to add functionality to the schematic to give a `--project` option, wherein a mono

[2020-12-11 04:14] bjornharvold commented on #83
Hi @anthonymjones

No apologies necessary. I thought Angular 11 only has support for Node 12.x?

[2020-12-11 09:48] MMLino opened #84 "Invalid JSON character for "ng add @briebug/cypress-schematic""
**Describe the bug**
After I tried to add the schematics as a dependency for my Angular 9 project I faced with the "Invalid JSON character" error

**How to reproduce:**
1. install cypress --> _npm i @briebug/cypress-schematic_
2. add schematics --> _ng add @briebug/cypress-schematic_
3. say "Yes" for the question "? Would you like to remove Protractor from the project?"
4. ERROR --> **Invalid JSON

[2020-12-11 14:20] anthonymjones commented on #84
Hi @MMLino, thanks for reaching out with this issue! Let's see if we can get this working for you.

First, you shouldn't need to install @briebug/cypress-schematic as a dependency. Running `ng add @briebug/cypress-schematic` should be enough, but I often run it as `ng add @briebug/cypress-schematic@latest` just to make sure I'm on the most recent version. Right now, that should be v4.4.0.

However

[2020-12-11 14:27] anthonymjones commented on #83
I haven't seen anything that says Angular 11 only supports Node 12.x.

The only requirement I've been able to find is for Node 8.9 or higher.

One way to test if it has anything to do with your environment would be to generate a new Angular project and run the schematic there. That would at least give us an idea if it's specific to your monorepo. Does the `--project` option sound like it would be

[2020-12-11 14:44] bjornharvold commented on #83
Here are Angular CLI / Node compatible versions:
https://gist.github.com/LayZeeDK/c822cc812f75bb07b7c55d07ba2719b3

Yes a —project would do the job

[2020-12-14 11:33] paulholleis opened #86 "Script stops without doing anything (and no error)"
**Describe the bug**
Running `ng add @briebug/cypress-schematic` on a new Angular project just doesn't do anything for me, no output or changes (except adding the "@briebug/cypress-schematic": "^4.4.0" dev-dependency to package.json). Doesn't exit within an hour or so. Parameters `--addCypressTestScripts` or `--noBuilder` do not make any difference. Same with "yes" or "no" to whether Protractor sh

[2020-12-17 09:26] MMLino commented on #84
Hi @anthonymjones, sorry for the delay in my response.

Upgrading angular to v11 and running `ng add @briebug/cypress-schematic@latest` I noticed that all is working now.

Many thanks,
BR
Marco

[2020-12-17 14:23] anthonymjones commented on #84
Glad to hear it! Thanks for the update Marco :)

[2020-12-17 14:23] #84 closed

[2020-12-17 14:25] anthonymjones commented on #83
@bjornharvold - I'll plan on adding this feature next, but likely won't get to it until next month. If anyone else has the capacity sooner, I'd happily accept a PR on this too :)

[2020-12-17 14:32] anthonymjones commented on #86
@paulholleis - Thanks for reaching out with this issue. Unfortunately, I'm unable to reproduce this behavior at the moment. I have all the same versions as you (CLI, Node, Angular, etc.), the only difference is that I haven't upgraded to Big Sur on my Mac. I'll see if anyone I know who has done the upgrade can test this out and reproduce.

[2020-12-18 04:11] bjornharvold commented on #83
Hi @anthonymjones! Appreciated but no rush on this. We are just getting started looking into Jest and Cypress.

[2020-12-18 04:11] #83 closed

[2020-12-21 15:15] paulholleis commented on #86
@anthonymjones no worries - if I can do anything to shed light on what happens (or not), please let me know!

[2021-02-04 18:32] chrisleyva opened #87 "Invalid JSON character: "\t" at..."
When trying add the cypress-schematic, I run into an `Invalid JSON character` issue, similar to the issue experienced with the [jest-schematic](https://github.com/briebug/jest-schematic/issues/4)

[code]

Angular Versions
------
Angular CLI: 10.2.1
Node: 12.16.1
OS: darwin x64  **macOS Catalina 10.15.7**

Angular: 10.2.4
... animations, common, compiler, compiler-cli, core, forms
... language-serv

[2021-02-04 22:19] chrisleyva commented on #87
Welp, here's what fixed it for me:

Convert all the tabs to spaces in my `packages.json` file. 🤦‍♂️

[2021-02-11 23:23] anthonymjones commented on #87
Thank you @chrisleyva! I'll look into this.

[2021-02-11 23:26] chrisleyva commented on #87
@anthonymjones No problem.
I tried forking the project to see if I could run it locally and see what was going on but I couldn't run it.

The `npm link` command would remove needed packages from the sandbox. And then I couldn't run it without linking. So it was a weird chicken & egg issue. In the end, I had to just give up. And I don't remember the specific errors right now.

I'd be willing to giv

[2021-03-02 09:35] TonySpegel opened #88 "ERESOLVE unable to resolve dependency tree"
**Describe the bug**
While setting up a project and adding this schematic I get a dependency error I can't make sense of.
Files are getting created but it fails nonethless.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a new project using the angular cli (e. .g.: `ng new e-paper-dashboard`) , I've chosen adding the router, scss and strict mode
2. Add the schematic `npx ng add @briebu

[2021-03-02 11:04] muuvmuuv commented on #88
Seems it is mixing two Webpacks versions here. Can you try using Webpack 4 instead and try it again?

[code]

I guess **@cypress/webpack-preprocessor** needs to be updated here to work with Webpack 5.

[2021-03-02 16:48] TonySpegel commented on #88
I honestly don't know how to set a different Webpack version for an Angular project, it's configured as it comes when starting a new project with the CLI

[2021-03-02 20:30] muuvmuuv commented on #88
Try using yarn instead of npm. Just remove your node_modules and package-lock.json and do `npm i -g yarn`. Then add `{ resolutions: { "webpack": "4" } }` into your package.json and run yarn in the root. It should no pin all webpack dependences to v4. Or try with webpack 5 as a resolution.

[2021-03-02 21:55] TonySpegel commented on #88
Thx for the solution but shouldn't it work with the most common package managers not just yarn? Not a huge fan of installing yarn just for that^^,
I'm not demanding anything btw I thank you for your solution but I guess I'll add Cypress manually then.

[2021-03-03 05:50] muuvmuuv commented on #88
npm does not currently support resolutions, so it's needed until cypress-schematic is updated to work with Webpack 5. I can recommend you pnpm if you don't want to use yarn.

[2021-03-03 05:52] muuvmuuv commented on #88
Anyway, can you confirm that it is working with the resolution fix? If not its something else, but I bet it's that version miss match, had that a lot the last month when packages update to use Webpack 5

[2021-03-07 16:13] michaeljota commented on #32
Now that TS is supported out-the-box by Cypress, do we still need to apply the preprocessor fix? Maybe we could remove this, so the integration between TS and Cypress is the Cypress one.

[2021-03-12 09:45] paolobittante commented on #88
@TonySpegel I think the issue is related to npm version, since from V7 it automatically tries to resolve peer dependencies.

With V6, I didn't have problems. A workaround for V7 would be to execute `npm i --legacy-peer-deps`and in this way the command ignore peer dependencies entirely (this behaviour is similar to versions 4-6).

@muuvmuuv I tried your proposal, but it didn't work.

[2021-03-19 22:37] bfoese opened #89 "baseUrl from angular.json not applied"
**Describe the bug**
I tried to define the 'baseUrl' in angular.json instead of cypress.json, but it wasn't applied in Cypress. Debugging into it, I found out that it was not applied, because Cypress expects an options object with baseUrl like this:
`type cyOptions = { config: { baseUrl: string }};`
but cypress-schematic provided
`type cySchematicOptions = { baseUrl: string };`

**To Reproduce**
S

[2021-03-29 14:06] BojanKogoj opened #90 "Custom commands not recognized"
**Describe the bug**
When creating custom command it is not recognized.

**To Reproduce**
Steps to reproduce the behavior:
Add to commands.ts
[code]

**Output**
[code]

**Desktop (please complete the following information):**
 - OS: Windows
 - Browser: Chrome
 - Version: 89

**Additional context**
This is fresh install of Cypress. The command above worked on another project, made without cypress-s

[2021-03-29 17:26] bfoese commented on #90
I'd say this is not an issue of this plugin. Did you declared the command also in the Cypress namespace? Here is an example:

[code]
Or if you have this namespace declaration in a different file, then make sure it is imported into cypress/support/index.ts which also imports the commands file.

[2021-03-30 06:42] BojanKogoj commented on #90
You were right, it works this way.
I haven't managed to make it work before because when saving commands.ts you need to restart cypress, since it doesn't rebuild with changes for some reason.

[2021-03-30 06:42] #90 closed

[2021-04-06 19:50] spicemix opened #91 "Cypress 7 support"
Cypress 7 isn't supported yet, but I manually updated the dependencies to 7 much like https://github.com/briebug/cypress-schematic/pull/79 did and things worked for me in 7. So it may be as simple to add...thanks!

[2021-04-15 15:27] cexbrayat commented on #91
@anthonymjones as this issue arises every time Cypress releases a major version, maybe the dependency could be a peer dependency only? That would let developers set the version they want in their projects, no?

[2021-04-15 19:51] #91 closed

[2021-04-19 08:17] cexbrayat opened #97 "Cannot read property 'tap' of undefined : ts-loader v9 is incompatible and breaks the schematics"
**Describe the bug**

ts-loader v9 has been released yesterday (https://github.com/TypeStrong/ts-loader/releases/tag/v9.0.0), and is incompatible with webpack 4.
This means that the current schematics stopped working when trying to install in an Angular CLI project (v12 will use Webpack 5, but it's not the case for Angular CLI 11).

[code]

**To Reproduce**

PR #68 adds the sandbox test to the CI

[2021-04-19 08:48] muuvmuuv commented on #89
This is weird because as you can see the userOptions is just passed into options without any further overrides so it should be in there. I will check what is going on here.

[2021-04-19 09:00] muuvmuuv commented on #89
Oh, now I got it, it is not included in the config part of options. It's monday... :D PR incoming

[2021-04-20 03:34] #97 closed

[2021-04-20 03:34] #89 closed

[2021-04-21 13:11] dnepro commented on #97
Awesome, i've been searching for the issue for the last 2 to 3 hours, awesome to see it already fixed!

[2021-04-21 14:21] cexbrayat commented on #97
@dnepro You're welcome 😉

@anthonymjones Do you think you'll be able to cut a release including the fix soon?

[2021-04-26 10:00] TheEmpyrean opened #103 "TypeError: loadContext.getOptions is not a function"
**Describe the bug**
After installing the schematic in an existing project and attempting to run the sample test I'm seeing the below error. I've tried updating ts-loader to the latest, but still getting this error.

**To Reproduce**
- Install schematic
- Run spec.ts

**Expected behavior**
Run sample test without errors

**Terminal Output**

`Error: Webpack Compilation Error
./cypress/integration/

[2021-05-05 00:47] jtneal commented on #103
Seeing this issue as well

[2021-05-13 16:40] pr-it opened #105 "Adding global variable to Cypress by parameter (--env var=value) is not working."
**Describe the bug**
In case when I am starting angular app and cypress flag --env to inject global parameter is not working.

**To Reproduce**
Run the Angular app with Cypress instance:
ng run aplicationName:cypress-open --env var=value
value is not available in Cypress tests.
I have tested also with
ng run aplicationName:cypress-open --env var=value --spec path/test.ts
ng run aplicationName:cypr

[2021-05-13 18:59] cexbrayat opened #106 "Project status now that @cypress/schematic is out"
Now that the code [has been duplicated into Cypress codebase](https://github.com/cypress-io/cypress/pull/16449) and released as `@cypress/schematic`, what is the status of the current project @anthonymjones ?

Should we consider it deprecated and migrate to `@cypress/schematic`?
The CLI team [added a reference into the official docs](https://github.com/angular/angular-cli/pull/20748).

cc @admah

[2021-05-13 19:38] anthonymjones commented on #106
Hey Cédric!

I think what is very likely to happen is we will deprecate @briebug/cypress-schematic and point to the official @cypress/schematic from the README.

I am actually in the process of working out the details with Gleb and Amir from the Cypress team. I'll let you know when I have more info.

[2021-05-26 12:13] pr-it commented on #105
Kind remainder. Any update ?

[2021-06-15 17:49] mraible opened #111 "Add support for Angular 12: Use "$id" for schema ID."
**Describe the bug**

If I use `ng add @briebug/cypress-schematic` to add Cypress to an Angular 12 project, I see the following warning:

[code]

Also, I'm prompted to remove Protractor when it doesn't exist.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**

I don't expect to see a warning about the schema, nor a prompt to remove Protractor.

[2021-06-29 13:23] patel-jeel92 commented on #103
Any update on this? seeing this issue with a newly created project

[2021-07-01 13:28] cshouts-tasc opened #112 "Support the --ci-build-id Flag"
### Description
When running tests in parallel we can optionally pass a build id to uniquely identify a CI build.

It would be beneficial to parallel CI users to add support for setting the CI build id in the e2e builder options.

### Cypress docs for the --ci-build-id flag
https://docs.cypress.io/guides/guides/command-line#cypress-run-ci-build-id-lt-id-gt

[2021-07-01 16:49] muuvmuuv commented on #112
Cypress added their own schematics based on this project: https://github.com/cypress-io/cypress/tree/develop/npm/cypress-schematic

See: https://github.com/briebug/cypress-schematic/issues/106

[2021-07-21 08:15] ahnpnl opened #113 "Cypress 8 support"
**Is your feature request related to a problem? Please describe.**
**N.A.**

**Describe the solution you'd like**
When upgrade Cypress to 8.0.0, `ng update` prevents from doing that because incompatible supported version from this project.

**Describe alternatives you've considered**
`ng update` should be successful.

**Additional context**
**N.A.**

[2021-07-27 07:38] fogshot commented on #113
Even worse, when executing the schematic on a virgin project, the schematic installs cypress @latest (currently 8.0), but has a conflicting peer dependency of "^7.0.0". As a workaround, you have to manually downgrade the dependency in your package.json, then re-run the schematic.

NPM output:
`
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! Found: cypress@8.0.0
npm ERR! node

[2021-07-28 22:29] anthonymjones commented on #113
As of 7/27/21, this schematic is no longer supported. The Cypress Angular Schematic has been adopted by Cypress and will be maintained in their repository by the Cypress Team moving forward. Head over to https://github.com/cypress-io/cypress/tree/develop/npm/cypress-schematic for more info.

[2021-07-28 22:29] #113 closed

[2021-07-28 22:29] anthonymjones commented on #112
As of 7/27/21, this schematic is no longer supported. The Cypress Angular Schematic has been adopted by Cypress and will be maintained in their repository by the Cypress Team moving forward. Head over to https://github.com/cypress-io/cypress/tree/develop/npm/cypress-schematic for more info.

[2021-07-28 22:29] #112 closed

[2021-07-28 22:30] anthonymjones commented on #111
As of 7/27/21, this schematic is no longer supported. The Cypress Angular Schematic has been adopted by Cypress and will be maintained in their repository by the Cypress Team moving forward. Head over to https://github.com/cypress-io/cypress/tree/develop/npm/cypress-schematic for more info.

[2021-07-28 22:30] #111 closed

[2021-07-28 22:30] anthonymjones commented on #105
As of 7/27/21, this schematic is no longer supported. The Cypress Angular Schematic has been adopted by Cypress and will be maintained in their repository by the Cypress Team moving forward. Head over to https://github.com/cypress-io/cypress/tree/develop/npm/cypress-schematic for more info.

[2021-07-28 22:30] #105 closed

[2021-07-28 22:30] anthonymjones commented on #103
As of 7/27/21, this schematic is no longer supported. The Cypress Angular Schematic has been adopted by Cypress and will be maintained in their repository by the Cypress Team moving forward. Head over to https://github.com/cypress-io/cypress/tree/develop/npm/cypress-schematic for more info.

[2021-07-28 22:30] #103 closed

[2021-07-28 22:30] anthonymjones commented on #88
As of 7/27/21, this schematic is no longer supported. The Cypress Angular Schematic has been adopted by Cypress and will be maintained in their repository by the Cypress Team moving forward. Head over to https://github.com/cypress-io/cypress/tree/develop/npm/cypress-schematic for more info.

[2021-07-28 22:30] #88 closed

[2021-07-28 22:30] anthonymjones commented on #87
As of 7/27/21, this schematic is no longer supported. The Cypress Angular Schematic has been adopted by Cypress and will be maintained in their repository by the Cypress Team moving forward. Head over to https://github.com/cypress-io/cypress/tree/develop/npm/cypress-schematic for more info.

[2021-07-28 22:30] #87 closed

[2021-07-28 22:30] anthonymjones commented on #86
As of 7/27/21, this schematic is no longer supported. The Cypress Angular Schematic has been adopted by Cypress and will be maintained in their repository by the Cypress Team moving forward. Head over to https://github.com/cypress-io/cypress/tree/develop/npm/cypress-schematic for more info.

[2021-07-28 22:30] #86 closed

[2021-07-28 22:40] anthonymjones commented on #106
@cexbrayat & @muuvmuuv - thank you both for all your help over the past couple of years. As you may already know, I've decided to deprecate the schematic and direct users to the official @cypress/schematic.  In case you haven't seen it already, @admah did update their README with a Community Recognition section at the bottom, and I've added a "Thank You" to all the contributors here.

I know they

[2021-07-28 22:40] #106 closed

[2021-07-29 07:21] cexbrayat commented on #106
Thanks @anthonymjones

We moved our projects to the official schematic and I started to contribute there as well.
Thanks for the time you've put in this project!